# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_INITDB_DATABASE=mern_todo

# Mongo Express
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin

# Backend
EXTERNAL_BACKEND_PORT=8111
INTERNAL_BACKEND_PORT=8111
JWT_SECRET=BI_MAT
GMAIL_USERNAME=
GMAIL_PASSWORD=

# Frontend
EXTERNAL_FRONTEND_PORT=3111
REACT_APP_API_URL=https://api-final-project.nguyentrungkien.net/api
