# MongoDB
MONGO_INITDB_ROOT_USERNAME={{ app_mongo_root_username }}
MONGO_INITDB_ROOT_PASSWORD={{ app_mongo_root_password }}
MONGO_INITDB_DATABASE={{ app_mongo_database }}

# Mongo Express
ME_CONFIG_BASICAUTH_USERNAME={{ app_mongo_express_username }}
ME_CONFIG_BASICAUTH_PASSWORD={{ app_mongo_express_password }}

# Backend
EXTERNAL_BACKEND_PORT={{ app_external_backend_port }}
INTERNAL_BACKEND_PORT={{ app_internal_backend_port }}
JWT_SECRET={{ app_jwt_secret }}
GMAIL_USERNAME={{ app_gmail_username }}
GMAIL_PASSWORD={{ app_gmail_password }}

# Frontend
EXTERNAL_FRONTEND_PORT={{ app_external_frontend_port }}
REACT_APP_API_URL={{ app_react_app_api_url }}
