# Grafana admin login
GF_SECURITY_ADMIN_USER={{ monitoring_grafana_admin_user }}
GF_SECURITY_ADMIN_PASSWORD={{ monitoring_grafana_admin_password }}

# MongoDB exporter credentials. The URI itself is configured in Docker Compose.
MONGODB_USER={{ app_mongo_root_username }}
MONGODB_PASSWORD={{ app_mongo_root_password }}

# Docker network created by the production MERN Compose project.
APP_DOCKER_NETWORK={{ monitoring_app_network_name }}
